
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}
.feature-item {
    text-align: center;
}
.feature-icon {
    font-size: 48px;
    margin-bottom: 20px;
    display: block;
}
.feature-item h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}
.feature-item p {
    font-size: 16px;
    color: #5c5c5c;
}

@media (max-width: 768px) {
    .hero-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-content h1 {
        font-size: 29px;
    }
    .hero-content .subtitle {
        font-size: 18px;
    }

    .hero-image-wrapper {
        display: none;
    }

    .materials {
        margin-top: 40px;
    }

    .hero-container {
        flex-direction: column;
        gap: 20px;
    }

    .logo-container {
        justify-content: center;
    }

    .materials h4 {
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .hero-content {
        flex-basis: 100%;
    }
}
